<div class="breadcrumb" >
  <ul class="breadcrumb__list">
    <li>チームケアとは</li>
  </ul>
</div>
<section class="about_top">
  <div class="about__inner inner">
    <div class="about_main"></div>
      「介護している人を孤立させない」<br>
       そんな想いから、このアプリは開発されました<br>
       ひとりでも多くの方が、誰かと繋がるきっかけになれば幸いです
    </div>
</section>
<section class='features'>
  <h2 class='util-ttl'>
    <span class='util-ttl-inner'>ひとりで悩まず、まずは誰かに相談しよう</span>
  </h2>
  <ul class='features-list'>
    <li class='features-item'>
      <div class='features-item-inner1'>
        <h3 class='features-item-ttl'>悩みを共有できる仲間を見つけよう</h3>
        <p class='features-item-text'>気になるユーザーを積極的にフォローし、交流しましょう</p>
      </div>
   </li>
   <li class='features-item'>
     <div class='features-item-inner2'>
       <h3 class='features-item-ttl'>自分から発信しよう</h3>
       <p class='features-item-text'>つぶやきや日記の投稿等、思っていることを気軽に発信してみましょう</p>
    </div>
   </li>
   <li class='features-item'>
     <div class='features-item-inner3'>
       <h3 class='features-item-ttl'>気軽に相談しよう</h3>
       <p class='features-item-text'>最寄りの<span class="important">市役所や地域包括支援センター等</span>で介護の相談を受けています<br>
       公的なサービスを活用しましょう</p>
     </div>
   </li>
  </ul>
</section>