<section class="favorite_catalog section">
  <div class="favorite__inner inner">
    <h2 class="section-title_favorite">お気に入りのつぶやき一覧</h2>
      <div class="timeline_area">
        <%= render partial: 'shared/micropost_index', collection: @microposts, as: :micropost %>
      </div>
  </div>
</section>
<%= paginate @microposts %>

<section class="favorite_catalog section">
  <div class="favorite__inner inner">
    <h2 class="section-title_favorite">お気に入りの日記一覧</h2>
      <div class="timeline_area">
       <%= render partial: 'shared/diary_index', collection: @diaries, as: :diary %>
      </div>
   </div>
</section>
<%= paginate @diaries %>
