<% unless @diary == nil %> 
<section id="" class="favorite_catalog section">
  <div class="favorite__inner inner">
    <h2 class="section-title_favorite">お気に入りの日記一覧</h2>
      <div class="timeline_area">
       <%=render 'shared/diary_index'%>
      </div>
   </div>
</section>
<% else %>
<section id="" class="favorite_catalog section">
  <div class="favorite__inner inner">
    <h2 class="section-title_favorite">お気に入りのつぶやき一覧</h2>
      <div class="timeline_area">
        <%=render 'shared/micropost_index'%>
      </div>
  </div>
</section>
<% end %>