<section id="" class="template_catalog section">
  <div class="template__inner inner">
    <h2 class="section-title_template">テンプレート 一覧</h2>
      <%= link_to "テンプレートを追加する", "/templates/new", class: "diary_draft_btn" %>
        <div class="template_items">
          <% @templates.each do |template| %>
            <div class="template_item">
              <%= link_to template.content, new_micropost_path(template_id:template.id), class: "btn_template_micropos" %>
            </div>
            <% if current_user.id == template.user_id %>
                 <p class="templates_delete"><%= link_to '削除', template, method: :delete, class:"template_delete",
                                    data: { confirm: "テンプレートを削除しますか?" } %><% end %></p>
          <% end %>
        </div>
  </div>
</section>