<section id="" class="diary_catalog section">
  <div class="diary__inner inner">
    <h2 class="section-title_diary">日記一覧</h2>
      <%= link_to "下書きフォルダへ", "/diaries/draft", class: "diary_draft_btn" %>
      <div class="timeline_area">
        <%= render partial: 'shared/diary_index', collection: @diaries, as: :diary %>
      </div>
   </div>
</section>
<%= paginate @diaries %>

