<section id="" class="micropost_catalog section">
  <div class="micropost__inner inner">
    <h2 class="section-title_post">つぶやき一覧</h2>
      <div class="timeline_area">
        <%=render 'shared/micropost_index'%>
      </div>
   </div>
</section>
<%= paginate @microposts %>

