<section id="" class="micropost_catalog section">
  <div class="micropost__inner inner">
    <h2 class="section-title_post">検索結果: <%= @microposts.count %> 件</h2>
      <div class="timeline_area">
        <%=render 'shared/micropost_index' %>
      </div>
  </div>
</section>
<%= paginate @microposts %>
