<section class="micropost_catalog section">
  <div class="micropost__inner inner">
    <h2 class="section-title_post">検索結果: <%= @microposts.count %> 件</h2>
      <div class="timeline_area">
        <%= render partial: 'shared/micropost_index', collection: @microposts, as: :micropost %>
      </div>
  </div>
</section>
<%= paginate @microposts %>
