<div class = "post_search"><%= form_tag( search_microposts_path, method: :post) do %>
        <%= text_field_tag :search, '', placeholder:'つぶやきを検索' %>
        <%= submit_tag '検索', :name => nil %>
        <% end %>
</div>